.main_card {
  position: relative;
  background: white;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid #000000;

  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .30);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .30);
  box-shadow: 0 0 5px rgba(0, 0, 0, .30);
}

.guide_toggle {
  color: #d9534f;
  background: none;
  font-size: 2rem;
  position: absolute;
  right: 50%;
  padding-top: .5rem;
  padding-right: 1rem;
  z-index: 2;
  cursor: pointer;
}
.guide_toggle.opened:active, .guide_toggle:active {
  color: #dadada;
  background: none;
  font-size: 2rem;
  position: absolute;
  right: 50%;
  padding-top: .5rem;
  padding-right: 1rem;
  z-index: 2;
  cursor: pointer;
}

i.opened.guide_toggle {
  color: #3d1817;
  background: none;
  font-size: 2rem;
  position: absolute;
  right: 50%;
  padding-top: .5rem;
  padding-right: 1rem;
  z-index: 2;
  cursor: pointer;
}
